@import("https://chinese-fonts-cdn.deno.dev/packages/dyh/dist/SmileySans-Oblique/result.css");

p {
  font-size: 12pt;
  font-weight: 510;
};
pageStyle = "wide"


/*@font-face {
    font-family: CustomFont;
    src:local('CustomFont'), url('/fonts/SegUIVar.woff2') format('woff2');
}

html {
    font-family: "CustomFont", serif;
}




